<app-subscribed-items *ngFor="let filmSubscripted of allFilmsSub"
  (filmSubscribedReview)="selectedItemsByAdmin(filmSubscripted)"
  (filmFreeSubscribedC)="selectedFreeSubscriptionC(id,filmSubscripted)"
  (filmFreeSubscribedA)="selectedFreeSubscriptionA(filmSubscripted)"
  (filmPaidSubscribed)="selectedPaidSub(id, filmSubscripted)" (filmPaidSub)="selectedPaidSub(id, filmSubscripted)"
  [filmFreeSub]="filmSubscripted" [filmPaidSubReview]="filmSubscripted" [filmSub]="filmSubscripted"
  [filmPaidSubric]="filmSubscribed" [id]="filmSubscripted.customerId" [idFilm]="filmSubscripted.filmId"
  (filmSubscribedReview)="selectFilmsReviewsByUserId(id,filmSubscripted)"
  (filmSubscribedReview)="selectedUserReviewsByFilmId(idF)">
</app-subscribed-items>
