<app-film-details *ngIf="film;else noFilmSelected" [filmModified]="film" [idFilm]="film.idFilm"
  [categoryId]="film.categoryId" (filmForm)="onAdded($event)"></app-film-details><ng-template #noFilmSelected>
  <h3 class="warning">No Film is done!</h3>
</ng-template>

<app-film-list (ItemsFreeA)="film = $event" (ItemsFreeC)="film=$event" (ItemsPaidA)="film=$event"
  (ItemsPaidC)="film=$event" (ItemsC)="film=$event" (ItemsA)="film=$event" [allFreeItems]="films" [allPaidItems]="films"
  [allItemSelected]="films" [categoryId]="film.categoryId"></app-film-list>
