input[type="radio"] {
  background-color: rgb(242, 227, 227);
  width: 50%;
  height: 30px;
  border-radius: 10px;
  border: 2px solid rgb(27, 25, 25);
}

input[type="radio"] a:hover {
  width: 80%;
  text-decoration: none;
  color: rgb(55, 65, 117);
}
fieldset {
  background-color: rgb(229, 236, 245);
  border-radius: 25px;
  border: 1px ridge rgb(252, 248, 248);
  width: 70%;
  height: 90%;
  margin-top: 20px;
  display: block;
}
fieldset:hover {
  box-shadow: 2px 0px 40px 20px rgb(240, 236, 236);
  background-color: rgb(172, 190, 213);
}
div fieldset {
  text-align: center;
  margin: auto;
}
fieldset legend {
  color: indigo;
  font-size: 20px;
}
