<a class="list-group-item clearfix" (click)="onSelected(idCtg)" *ngIf="authS.isLoggedIn;else noData">
  <div class="pull-left">

    <h4 class="list-group-item-heading">Film_Category 'ID' is:{{filmC.idCtg}}</h4>
    <h3 class="list-group-item-text">Film_CategoryName is:{{filmC.categoryName}}</h3>
  </div>
</a><ng-template #noData>
  <h4 class="warning">No data selected!Please login again!</h4>
</ng-template>
<div class="pull-right">
  <button type="button" *ngIf="authS.isLoggedIn;else noData" (click)="onDeleted(idCtg)">Delete</button>
</div>