//Admin
<a (click)="onSelectedByItemFilmReviews(id, idFilm)" *ngIf="authService.isLoggedIn;else noAccess">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>{{filmSub.filmTitle}}</h2>
        <h4 class="title">{{filmSub.onlineCost}}</h4>
        <h4>{{filmSub.fullName}}</h4>

        <h3>It's reviews in:</h3>
        <h3 class="title">{{filmSub.reviews}}</h3>
      </div><button type="button" [routerLink]="['/reviews/{idFilm}']" class="btn btn-primary"
        (click)="goBack()">Back</button>
    </div>
  </div>
</a><ng-template #noAccess>
  <h3 class="warning">Access Denied</h3>
</ng-template>
//Customer
<a (click)="onSelectedByItemUserReviews(id, idFilm)" *ngIf="authService.isLoggedIn;else noAccess">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>{{filmSub.filmTitle}}</h2>
        <h4 class="title">{{filmSub.onlineCost}}</h4>
        <h4>{{filmSub.fullName}}</h4>

        <h3>It's reviews in:</h3>
        <h3 class="title">{{filmSub.reviews}}</h3>
      </div><button type="button" [routerLink]="['/reviews/{id}']" class="btn btn-primary"
        (click)="goBack()">Back</button>
    </div>
  </div>
</a><ng-template #noAccess>
  <h3 class="warning">Access Denied</h3>
</ng-template>
//Admin
<a (click)="onSelectedFreeByAdmin(id, idFilm)" *ngIf="authService.isLoggedIn;else noAccess">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>{{filmSub.filmTitle}}</h2>
        <h4 class="title">It's free cost:{{filmSub.onlineCost}}</h4>
        <h4>{{filmSub.fullName}}</h4>
        <h3>It's reviews in:</h3>
        <h3 class="title">{{filmSub.reviews}}</h3>
      </div>
    </div>
  </div>
</a>
//Customer
<a (click)="onSelectedFreeByCustomer(id, idFilm)">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>{{filmSub.filmTitle}}</h2>
        <h4 class="title">It's free cost:{{filmSub.onlineCost}}</h4>
        <h4>{{filmSub.fullName}}</h4>
        <h3>It's reviews in:</h3>
        <h3 class="title">{{filmSub.reviews}}</h3>
      </div>
    </div>
  </div>
</a>


//Admin and Customer
<a (click)="onSelectedPaid(id, idFilm)" *ngIf="authService.isLoggedIn;else noAccess">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>{{filmSub.filmTitle}}</h2>
        <h4 class="title">It's Cost:{{filmSub.onlineCost}}</h4>
        <h4>{{filmSub.fullName}}</h4>
        <h3>It's reviews in:</h3>
        <h3 class="title">{{filmSub.reviews}}</h3>
      </div>
    </div>
  </div>
</a>
//Customer--enjoy films on Pay
<a (click)="onSelectedPaidFilmMovie(id, idFilm)" *ngIf="authService.isLoggedIn;else noAccess">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>{{filmSub.filmTitle}}</h2>
        <h4 class="title">It's Cost:{{filmSub.onlineCost}}</h4>
        <h3>{{filmSub.filmUrl}}</h3>
        <h4>{{filmSub.fullName}}</h4>
      </div>
    </div>
  </div>
</a>
