<app-subscribe-list *ngIf="reviewsFilm;else noReviewFilm" (filmsSubscribed)="reviewsFilm=$event"
  (freeFilmsSubC)="reviewsFilm=$event" (freeFilmsSubA)="reviewsFilm=$event" (paidFilmsSub)="reviewsFilm=$event"
  [allFilmsSub]="reviewsFilms" [id]="reviewsFilm.customerId" [idF]="reviewsFilm.filmId"></app-subscribe-list>
<ng-template #noReviewFilm>
  <h3 class="warning">Reviews are Required*****,No Film is selected!!!</h3>
</ng-template>
<app-subscribed-details (addReviews)="onAdded($event)" [reviewFilm]="reviewsFilm"></app-subscribed-details>
